{% extends 'layout.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate 'Labels' %}</h1>
    <a class="btn btn-primary mb-3" href="{% url 'label_create' %}">{% translate 'Create label' %}</a>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Creation date' %}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% if labels %}
        {% for label in labels %}
          <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
            <td>
              <a href="{% url 'label_update' pk=label.pk %}">{% translate 'Change' %}</a>
              <br>
              <a href="{% url 'label_delete' pk=label.pk %}">{% translate 'Delete' %}</a>
            </td>
          </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}